body {
    font-family: sans-serif;
}

/* Note: all layouts */
.menu li {
    list-style: none;
}

/* Note: wide layouts */
@media (min-width: 401px) {
    .menu li {
        float: left;
        padding: 0 10px;
    }
}

/* Note: narrow layouts */
@media (max-width: 400px) {
    .menu li {
        float: none;
        width: 100%;
    }
}
